{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <form method="post" class="generic-form">

        <h1 class="h3 mb-3 font-weight-normal">Réinitialiser le mot de passe</h1>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{token}">

        <button class="btn btn-lg btn-primary" type="submit">
            Enregistrer
        </button>
    </form>
{% endblock %}